@import '../../src/sass/style/config.scss';

.wrapper {

    background-color: $cool-bg-darker;
    color: white
}
@include mediaXl 
{
    .registerOrLogin, .top{
        @include flex-row;
        justify-content: space-between;
        padding: 0 20px !important;

    }
}
@include mediaMd 
{
    .registerOrLogin{
        @include flex-col;

    }
}

