
.center {
    position: relative;
  padding: 20px 50px;
 display: flex;
 flex-direction: column;
min-height: 250px;
border-radius: 5px !important;

}
h4 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    background-color: rgb(13, 1, 113, .5) !important;

    border-radius: 2px !important;
    padding: 5px 0;
    
    color: white;
}


.center {
    width: 100%;
}
