
<form  [formGroup]="changePassword" (ngSubmit)="submit()">
    <div class="center">
        <h4>Change Password </h4> 
    
        <p> Username <span> {{ username }}</span></p>
        <mat-form-field floatLabel = "auto" hideRequiredMarker appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName = "password"  type = "password" matInput required />
            <mat-error *ngIf="changePassword.controls['password'].hasError('minlength') && !changePassword.controls['password'].hasError('required')">
         The password  must be atleast 8 character long
            </mat-error>
            <mat-error *ngIf="!changePassword.controls['password'].hasError('minlength') && !changePassword.controls['password'].hasError('required') && changePassword.controls['confirmPassword'].dirty && (changePassword.controls['password'].value !== changePassword.controls['confirmPassword'].value)">
                The passwords don't match
                   </mat-error>
            <mat-error
            *ngIf="changePassword.controls['password'].hasError('required')">
            Password is <strong>required</strong>
            </mat-error>
           </mat-form-field>
           <mat-form-field floatLabel = "auto" hideRequiredMarker appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input formControlName = "confirmPassword"  type = "password" matInput required />
            <mat-error *ngIf="changePassword.controls['confirmPassword'].hasError('minlength') && !changePassword.controls['confirmPassword'].hasError('required')">
         The confirmPassword  must be atleast 8 character long
            </mat-error>
            <p class="takeItEasy" *ngIf = "changePassword.controls['confirmPassword'].dirty && !changePassword.controls['confirmPassword'].hasError('minlength')">
            <mat-error *ngIf="changePassword.controls['password'].value !== changePassword.controls['confirmPassword'].value">
                The passwords don't match
                   </mat-error>
                </p>
            <mat-error
            *ngIf="changePassword.controls['confirmPassword'].hasError('required')">
            Confirm Password is <strong>required</strong>
            </mat-error>
           </mat-form-field>
    
           {{ changePassword.controls['password'].value }}
    
    
       <button type="submit" class="btn btn-success mt-4" [disabled]="changePassword.invalid || (changePassword.controls['password'].value !== changePassword.controls['confirmPassword'].value)" >
            Change
        </button> 
    </div>
    </form>
    