
  <div class="content d-flex flex-column">
    <div class="eachRow title  ">
      <div class="cell">
        Subscriber
      </div>
      <div class="cell">
        Username
      </div>
      <div class="cell">
        Phone
      </div>
      <div class="cell">
        Unsubscribe
      </div>
    </div>
    <div class="bids d-flex flex-column">

    <div  *ngFor="let subscriber of displayCol">
    <div class="eachRow  " [ngClass]="subscriber.username === bidder.username ? 'unique': 'same' ">
      <div class="cell img">
       <img [src]="subscriber.image" alt="">
      </div>
      <div class="cell">
        <p>
          {{ subscriber.username | titlecase}}
        </p>
       
      </div>
      <div class="cell">
        <p style="font-size: 12px">
          {{ subscriber.phone}}
        </p>
       
      </div>
      
      <div class="delete" *ngIf="subscriber.username === bidder.username">
        <div class="deletes"  (click)="unsubscribe()"><fa-icon [icon]="faTimes"></fa-icon></div>
      </div>
    </div>

  </div>
</div>
</div>