input {
    margin:0px 5px ;
}
:host {
    padding: 10px;
}
.subTitle {
    font-size: 14px;
}
.time {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    background-color: black;
    color: white;
}