.img {
    position: relative;

 
}
input {
  color: white;
  padding: 10px 20px
}
@import '../../../sass/styles.scss';

img {
       
    height: 250px;
}
input {
@include card-dark;
height: 40px;
}
.center{
  width: 100%;
  @include card-dark;
  border-radius: 0;
  border: 0;
  padding: 20px 0;
  background-color: rgba(2, 12, 41, 0.824);
}
mat-form-field {
    width: 250px !important;
    border-radius: 20px;
}
form {
  margin:0px auto;
  @include flex-col;
  @include card-dark;
  background-color:rgba(0, 0, 0, 0.199);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  border: 1px solid white;

}
mat-label, mat-radio-button, p {
  color: white !important;
}
 p{
    @include card-dark;
    border-radius: 0;
    border: 0;
    padding: 10px;
    background-color: rgba(155, 155, 155, 0.199)
}
.title {
  @include card-dark;
  background-color: $cool-bg-darker;
  border-radius: 0;
  padding: 10px;
  margin: 20px 0;
}