
<div class="auctionId" *ngIf="auctionId && !reciept">


<div class="img col-md-6 col-lg-4 col-sm-12 m-auto  d-flex flex-column text-center " *ngIf="!verified && !reciept">
   <img  class=" col-md-6 m-auto  d-flex flex-column text-center" src="../../../assets/cbe.jfif" style="height: 200px" alt="">
</div>
<div class="img m-auto  d-flex flex-column text-center " *ngIf="verified">
    <img  class=" col-md-6 col-lg-4 col-12   m-auto  d-flex flex-column text-center" src="../../../assets/bank.jpg" style="height: 200px" alt="">
 </div>

 <div class="   verified d-flex flex-column" *ngIf="verified &&  !reciept">
    <h4 class="m-auto col-md-6 col-lg-4 col-12  my-2 p-2 text-center bg-primary text-light m-auto">Ethiopian Commerical Bank</h4>


    <div class="col-md-6 col-lg-4 col-12 d-flex flex-row justify-space-between m-auto my-2 ">
<div class="d-flex flex-column">
   <div class="my-1">
     To: <span class="bg-secondary my-1 p-2 text-light mx-2"> Ethio Online Auction</span>
   </div>
   <div class="my-1">
   Account Number: <span class="text-light bg-secondary my-1 p-2 mx-2"> 1000064180038</span>
  </div>
  <div class="my-1">
    Auction Upload Fee: <span class=" text-light bg-secondary my-1 p-2 mx-2"> {{uploadFee}}</span>
   </div>
   <div class="my-1">
    Deducted from Account :  <span class="bg-secondary my-1 p-2 text-light mx-2"> {{account}}</span>
</div>
</div>

    </div>
    <button type="submit" class="btn btn-primary col-md-4 col-6 col-lg-1 m-auto" (click)="makePayment()">Make Payment</button>
 </div>
<div class="" *ngIf="!verified && !reciept">
    <mat-form-field class="my-2 col-lg-4 col-md-6 m-auto col-12 m-auto  d-flex flex-column text-center" appearance="fill">
        <mat-label> Utility Payment</mat-label>
        <mat-select value="Ethio online Auction" >

            <mat-option *ngFor = "let i of utilities" value="{{ i }}" >
               {{ i }}
            </mat-option >
           
        </mat-select>
    </mat-form-field>
    
 <p class="my-2 col-lg-4 col-md-6 m-auto col-12 m-auto  d-flex flex-column text-center text-success " style="font-size: 20px">Ethio online Auction</p>
<form [formGroup]="verifyCode" (ngSubmit)="verifyCodeFunc()" class="d-flex flex-column" >

 <mat-form-field class="my-2 col-lg-4 col-md-6 m-auto col-12" floatLabel = "auto" hideRequiredMarker appearance="fill">
    <mat-label color="accent">Enter Payment Code </mat-label>
    <input matInput required formControlName = "code" type="text" />

    <mat-error
    *ngIf="f['code'].errors?.['required']">
    Enter Code please is <strong>required</strong>
    </mat-error>
    
 </mat-form-field>


 <button type="submit" class="btn btn-primary col-md-4 col-6 col-lg-1 m-auto" [disabled]="verifyCode.invalid">Verify</button>
</form>
</div>


</div>
<div class="d-flex flex-column col-md-4 col-6 col-12 m-auto auctionId" *ngIf="reciept">
    <div class="header d-flex flex-row  justify-content-between bg-secondary my-1 p-2 text-light px-2 py-1">
        <div class="d-flex flex-row justify-space-between">
            <div class="">
                <fa-icon [icon]="faCheck" class="mx-2 bg-primary p-1" style="font-size: 16px;">
                </fa-icon>
            </div>
            <div class="d-flex flex-column">
                <p>Thank You</p>
                <p>Success</p>
            </div>
        </div>
        <div class="d-flex flex-row eski">
       
            <fa-icon [icon]="faDownload" class="mx-3 down" style="font-size: 16px;" (click)="downloadAsPDF();"></fa-icon>
            <fa-icon [icon]="faTimesCircle" style="font-size: 16px;" class="donw" (click)="return();"></fa-icon>
        </div>
    
    
    
       </div>
    <div id="pdfTable" #pdfTable class="d-flex flex-column my-3">
 
   <div class="message d-flex flex-column">

     <p class="text-secondary my-2" style="font-size: 12px;">Message</p>
     <p  style="font-size: 16px;">
    
        ETB {{ uploadFee}} deducted from {{account }}  date {{ dateNow | date}} with transaction id FT22123Q23T235 on 
    </p>
   </div>

    </div>
    <div class="logo d-flex flex-row my-2">
        <div class="img">
         <img style="width: 50px; height:50px" src="../../../assets/logo.png" alt=""> 
     
        </div>
        <div class="">
            <p class="mx-2" style="font-size:16px;">Commercial Bank of Ethiopia. <br>
                <span class="text-secondary" style="font-size:14px">
                 The bank you can always rely on. 
                </span></p>
        </div>
       </div>
    <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>


</div>
<div class="" *ngIf="!auctionId">
    <p class="text-danger p-5 text-center m-auto w-50">Something went wrong, go to your auctions list and try to make payment from there </p>
</div>
